@font-face {
  font-family: 'Stolzl-Light';
  src: url('../fonts/Stolzl-Lightd41d.html.htm') format('embedded-opentype'),
       url('../fonts/Stolzl-Light.html.htm')  format('opentype'),
       url('../fonts/Stolzl-Light-2.html.htm') format('woff'),
       url('../fonts/Stolzl-Light-3.html.htm')  format('truetype'),
       url('../fonts/Stolzl-Light-4.html.htm') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Stolzl-Regular';
  src: url('../fonts/Stolzl-Regulard41d.html.htm') format('embedded-opentype'),
       url('../fonts/Stolzl-Regular.otf')  format('opentype'),
       url('../fonts/Stolzl-Regular.html.htm') format('woff'),
       url('../fonts/Stolzl-Regular-2.html.htm')  format('truetype'),
       url('../fonts/Stolzl-Regular-3.html.htm') format('svg');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Stolzl-Medium';
  src: url('../fonts/Stolzl-Mediumd41d.html.htm') format('embedded-opentype'),
       url('../fonts/Stolzl-Medium.otf')  format('opentype'),
       url('../fonts/Stolzl-Medium.html.htm')  format('truetype'),
       url('../fonts/Stolzl-Medium-2.html.htm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Bold';
  src: url('../fonts/Stolzl-Boldd41d.html.htm') format('embedded-opentype'),
       url('../fonts/Stolzl-Bold.otf')  format('opentype'),
       url('../fonts/Stolzl-Bold.html.htm') format('woff'),
       url('../fonts/Stolzl-Bold-2.html.htm')  format('truetype'),
       url('../fonts/Stolzl-Bold-3.html.htm') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Stolzl-Book';
  src: url('../fonts/Stolzl-Bookd41d.html.htm') format('embedded-opentype'),
       url('../fonts/Stolzl-Book.otf')  format('opentype'),
       url('../fonts/Stolzl-Book.html.htm') format('woff'),
       url('../fonts/Stolzl-Book-2.html.htm')  format('truetype'),
       url('../fonts/Stolzl-Book-3.html.htm') format('svg');
  font-weight: normal;
  font-style: normal;
}
